<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
<main>
    <div>
        <h1>Create a new list</h1>
    </div>

     <form method="post">

    {% csrf_token %}
    {{form.as_p}}

    <!-- <div>
        <label for="name">Name:</label>
        <input type="text"  name="name">
      </div> -->

    <button>Create</button>

</form>
</main>
</body>
</html>
