{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>

    <main>
        <div>
            <h1> To do List</h1>
            <h2>Tasks</h2>
        <table>
            <thead>
               <tr>
                   <td>Task</td>
                   <td>Due Date</td>
               </tr>
            </thead>
            <tbody>
                    {% for item in list.items.all %}
                    <tr>
                        <td><a href="#">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                         {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
</body>
</html>
